# URL da API Backend
VITE_API_URL=http://localhost:3001/api

# Em produção no Railway, use a URL do seu serviço backend:
# VITE_API_URL=https://seu-backend.railway.app/api
groq_key = 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